:root {
  --bgcolor: rgb(22, 20, 20);
  --bgcolor2: lightblue;
  --bgcolor3: #a8c8d2;
  --bgcolor4: #87c2f6;
}

body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 100%;
  font-family: monospace;
}

#main {
  background-color: var(--bgcolor);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#info {
  color: white;
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  width: 800px;
  font-size: 18px;
  user-select: none;
}

#time {
  margin-left: auto;
}

#grid {
  background-color: var(--bgcolor2);
  width: 800px;
  height: 800px;
  position: relative;
  user-select: none
}

.block {
  box-shadow: 0 0 0.29rem rgb(95, 120, 189);
  position: absolute;
  background-color: rgb(209, 227, 233);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 33.3%;
  cursor: pointer;
}

.revealed {
  background-color: var(--bgcolor3);
}

.block .number {
  display: none;
  color: white;
}

.revealed .number {
  display: block;
}

.flag .number {
  display: block;
}

.bomb.revealed {
  background-color: #cd8787
}

.bombhit {
  background-color: pink;
}

.flag {
  background-color: var(--bgcolor4);
}

.bomb.flag {
  background-color: var(--bgcolor4);;
}

#bombs {
  cursor: pointer;
}

.bombhit {
  border: 5px #b34de2 solid;
  box-sizing: border-box;
}

@keyframes bgchange {
  0% {
    background-color: var(--bgcolor);
  }

  50% {
    background-color: orangered;
  }

  100% {
    background-color: var(--bgcolor);
  }
}

.boom {
  animation: bgchange 500ms forwards;
}